 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;


    --colorWhite: #fafafa;
    --colorBlack: #2b2b2b;
    --colorGray: #424242;
    --colorBlue: #3994FF;

    
    --fontXSmall: .5em;
    --fontSmall: 1em;
    --fontMedium: 1.5em;
    --fontLarge: 2em;
    --fontXLarge: 2.5em;

    --paragraphSmall: .9em;
    --paragraphMedium: 1.1em;
    --paragraphLarge: 1.3em;

    --btnXSmall: .5em;
    --btnSmall: .8em;
    --btnMedium: 1.1em;

}

html, body {
    background-color: var(--colorWhite);
    height: '100%';
    overflow-x: hidden;
    color: var(--colorBlack);
    position: relative;
}
